<!DOCTYPE html>
<html>
  <%- include('./includeViews/head.ejs') -%>

  <body>
    <div class="gtco-loader"></div>

    <div id="page">
      <%- include('./includeViews/header-menu.ejs')-%>
			<%- include('./includeViews/header.ejs') -%>

			<%- include('./includeViews/content/contacts.ejs') -%>

			<%- include('./includeViews/footer.ejs') -%>
    </div>

    <%- include('./includeViews/goToTop.ejs') -%>
		<%- include('./includeViews/scripts.ejs') -%>
  </body>
</html>
